@model IEnumerable<Odev2.Models.Kullanicilar>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Yeni Kullanıcı Ekle", "Kaydetme")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.KullaniciAdi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sifre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.KullaniciAdi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Sifre)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Duzenleme", new { id=item.KullaniciID }) |
            @Html.ActionLink("Details", "Details", new { id=item.KullaniciID }) |
            @Html.ActionLink("Sil", "Silme", new { id=item.KullaniciID })
        </td>
    </tr>
}

</table>
